<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Let's talk feelings</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script>
    $(document).ready(function() {
        $('select').material_select();
	});
    </script>

</head>
<body>
    <script>
    $(document).ready(function() {
        $('select').material_select();
	});
    </script>

  <nav class="light-teal lighten-3" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">talk feelings w/ me</a>
      <ul class="right hide-on-med-and-down">
	<li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('emotion') }}">E.MO.TION</a></li>
	<li><a href="{{ url_for('polynomial') }}">Datavis</a></li>
	<li><a href="{{ url_for('get_all_databases') }}">Collections!</a></li>
	<li><a href="{{ url_for('get_all_people') }}">Who's Cool?</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="nav-mobile">
	<li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('emotion') }}">E.MO.TION</a></li>
	<li><a href="{{ url_for('polynomial') }}">Datavis</a></li>
	<li><a href="{{ url_for('get_all_databases') }}"></a></li>
	<li><a href="{{ url_for('get_all_people') }}"></a></li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">{% block title %}{% endblock %}</h1>
      <div class="row center">
          {% block content %}{% endblock %}
      </div>
      <br><br>

    </div>
  </div>


    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer light-teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
         <h5 class="white-text">The Konami Code:</h5>
         <h5 class="white-text"> 
	  	<p>^ ^ v v <- -> <- -> B A</p> 
	</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Visit</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/tonlehrling">Twitter</a></li>
	    <li><a class="white-text" href="https://github.com/gilmoregrills/flask-of-emotions">Github Repo</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
		  <li><a class="white-text">Student Name: Robin Yonge</a></li>
            <li><a class="white-text" href="mailto:youremail@qmul.ac.uk">Email: ec16020@qmul.ac.uk</a></li>
	    <li><a class="white-text">Student Number: 160719011</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made beautiful by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
